{% extends 'base.html' %}

     
     {% block content %}
     
     <div class="container" id="lista">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-xs-8">
                <h1 class="page-header">lista de tareas</h1>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                    
                <a href="{% url 'new_post' %}" class="btn btn-primary float-right">Nueva tarea</a>
                <table class='table table-striped table-hover'>
                    <thead>
                        <th>ID</th>
                        <th>Tarea</th>
                        <th>Estado</th>
                        <th colspan="2">
                            &nbsp;
                        </th>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td width='10px'>{{post.id}}</td>
                            <td>{{post.titulo}}</td>
                            <td>{{post.estado}}</td>
                            <td width='10px'>
                                {% if post.estado == "A" %}
                                <form action="" method="POST">{% csrf_token %}
                                    <input type="hidden" name="id" id="" value="{{post.id}}">
                                    <input type="submit" class="btn btn-success btn-sm" value="Cerrar">
                                </form>
                                {% endif %}
                            </td >
                            <td width='10px'>
                                <a href="post/{{post.id}}"class="btn btn-primary btn-sm">Ver</a>
                            </td>
                            <td width='10px'>
                                <a href="post/{{post.id}}/edit"class="btn btn-warning btn-sm">Editar</a>
                            </td>
                            <td width='10px'>
                                <form action="/post/{{ post.id }}/delete" method="POST">{% csrf_token %}
                                    <input type="hidden" name="id" id="" value="{{post.id}}">
                                    <input  type="submit" class="btn btn-danger btn-sm" value="Eliminar">
                                </form>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
     </div>
     
     
     {% endblock content %}